<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='/static/styling.css'/>
    <title>Cantonica</title>
  </head>
  <body>
    <div id="logo">
      <img src="/templates/assets/logo.png" alt="Logo">
    </div>
    <h1>Search Results</h1>
    <div id="search-results">
      {% for mobile_link in mobile_links %}
        <p>{{ mobile_link }}</p>
      {% endfor %}
    </div>

    <div id="search-bar">
      <form action="/Search" method="POST">
        {{ form.csrf_token }}
        {{ form.query }}
        <input type="submit" value="Search">
      </form>
    </div>
    <div id="top-nav-bar">
      <a href="/Apps">Apps</a>
      <a href="/Info">Info</a>
      <a href="/News">News</a>
      <a href="/My Apps">My Apps</a>
    </div>
    <div>
      </div>
  </body>
</html>
