<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href='/static/styling.css'/>
    <title>Cantonica</title>
  </head>
  <body>
    <div id="logo">
      <img src="/templates/assets/logo.png" alt="Logo">
    </div>
    <div id="search-bar">
      <form action="/Search" method="POST">
        <input type="text" name="query">
        <button type="submit">Search</button>
      </form>
    </div>
    <div id="top-nav-bar">
      <a href="/Apps">Apps</a>
      <a href="/Info">Info</a>
      <a href="/News">News</a>
      <a href="/My Apps">My Apps</a>
    </div>
    <div id="app-list">
      {% for app in apps %}
        <div class="app-box">
          <img src="/templates/assets" alt="{{ app.name }}">
          <h2>{{ app.name }}</h2>
          <p>{{ app.description }}</p>
        </div>
      {% endfor %}
    </div> 
  </body>
</html>
