.App {
  text-align: center;
  background-color: white;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  margin: 0% 10%;
  margin-bottom: 20px;
  width: 80%
}

.tab {
  padding: 10px;
  cursor: pointer;
}

.tab.selected {
  border-bottom: 2px solid black;
}

.content {
  /* add styling for tab content */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.siteName {
  font-weight: bold;
}

.searchResults {
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.singleResult {
  padding: 7px;
}

/* Add new site page css */

.add-site {
  text-align: center;
  justify-content: center;
}

#add-site-header {
  color: blue;
  margin-bottom: 5px;
  margin-bottom: 10px;
}

form h4 {
  text-align: left;
  margin: 20px 10% 5px 10%;
}

form h5 {
  text-align: left;
  margin: 20px 5% 5px 5%;
}

input {
  margin: 2%;
}

#mobile-app-desc {
  margin: 0% 5%;
}

.new-site-input {
  border: none;
  border-bottom: 2px solid blue;
  padding: 5px;
  width: 70%;
  outline: none; 
}

.upload-buttons {
  display: flex;
  justify-content: center;
}

.upload-btn {
  display: inline-block;
  margin: 0px 5px;
  background-color: #D0E17D;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-btn input[type="file"] {
  display: none;
}

#submit-site-btn {
  margin: 25px 0% 0px 60%;
  background-color: #D0E17D;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
